// MOBILE FIRST 
.footer {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 100px 35px 100px;
    background-color: $color-dark;
    color: $color-title;
    font-family: $font-text;
    font-size: 16px;
    line-height: 32px;
    
    & span {
        color: $color-light;
    }

}
.footer_list_1, .footer_list_2 {
  & a {
    color: $color-title;
  }

}

.icon_up {
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color:white;
    border-radius: 50px;
    padding: 10px 6px 5px 10px;
    transform: translateY(-40px);
    margin-left: 40px;

& img {
width: 25px;
height: 25px;
align-items: center;
}
}
// VERSIÓN TABLET

@media (min-width: 768px) {
   .footer {
      padding: 60px 0px 35px 40px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center ;
      gap: 80px;  
  }

  .footer_list_1 {
    & a {
      order: 2;
    }
    .footer_list_2 {
      order: 3;
    }
  
  }
  
  .icon_up {
    display: flex;
    align-items: center;
    transform: translateY(-80px) translateX(-280px);

}
   }

// VERSIÓN DESKTOP

@media (min-width: 1280px) {
  .footer {
    padding: 60px 0px 35px 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center ;
    gap: 250px; 
}


.icon_up {
  display: flex;
  align-items: center;
  margin: -80px 400px 40px -710px;
}
}