.section_2 {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    background-color: $color-title;
    padding: 34px 19px 30px 13px;
    & span {
        color: $color-light;
        font-size: 14px;
       font-family: $font-text; 
    }
    & h2 {
        font-size: 22px;
        font-family: $font-title;
        padding-top: 10px;
    }
    & p {
        font-size: 18px;
        color: $color-dark;
        margin-bottom: 30px;
        font-family: $font-text;
        padding-top: 10px;
        line-height: 30px;
        padding-bottom: 20px;

        
    }
}

.button_buy {
    color: $color-light;
    font-family: $font-text;
    font-size: 20px;
    border:  $color-light solid;
    border-radius: 20px;
    padding: 7px 30px 7px 30px; 
    
    
 }