<footer class="footer">
    <div class="icon_up">
        <figure>
            <a href="#section_1">
            <img src="../images/ico-arrow.svg" alt="ico-arrow">
           </a>
        </figure>
    </div>
    <div class="footer_list">
        <ul>
        <li>
            <a href="https://adalab.es/" target="_blank">ZAPATILLAS</a></li>
        <li>
            <a href="https://adalab.es/" target="_blank">ROPA</a></li>
        <li>
            <a href="https://adalab.es/" target="_blank">NIÑO/A</a></li>
        <li>
            <a href="https://adalab.es/" target="_blank">DESTACADOS</a></li>
        <li>
            <a href="https://adalab.es/" target="_blank">TIPS</a></li>
    </ul>
        <ul>
        <li>
            <a href="https://adalab.es/" target="_blank">TWITTER</a></li>
        <li>
            <a href="https://adalab.es/" target="_blank">INSTAGRAM</a></li>
        <li>
            <a href="https://adalab.es/" target="_blank">YOUTUBE</a></li>
    </ul>
    <ul>
        <li>&copy; 2023</li>
        <li>we <span>&#10084;</span> run</li>
    </ul>
    </div>
</footer>