<footer>
    <div>
        <figure>
            <img src="../images/ico-arrow.svg" alt="ico-arrow">
            <a href=""></a>
        </figure>
    </div>
    <div>
        <ul>
        <li>ZAPATILLAS</li>
        <li>ROPA</li>
        <li>NIÑO/A</li>
        <li>DESTACADOS</li>
        <li>TIPS</li>
    </ul>
        <ul>
        <li>TWITTER</li>
        <li>INSTAGRAM</li>
        <li>YOUTUBE</li>
    </ul>
    <ul>
        <li>&copy; 2023</li>
        <li>we &#10084; run</li>
    </ul>
    </div>
</footer>