<section class="section_1">
    <div class="beginnings">
        <h1>COMIENZOS COMPARTIDOS</h1>
   
    <p>Todo lo que necesitan para volver al cole con ilusión</p>
</div>
    <div class="icon_down">
        <figure>
            <a href="https://adalab.es/bootcamps-online/?utm_term=adalab&utm_campaign=Adalab_Search_Marca&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=149341856065&hsa_ad=661007586687&hsa_src=g&hsa_tgt=kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQiAzoeuBhDqARIsAMdH14E434US6yEIPm9t8hrwc8V2CfhEorNZButKXCrkYErF8UaS_oGbK38aAo0LEALw_wcB"></a><img src="../images/ico-scroll-down.svg" alt="scroll-down">
            </a>
        </figure>

    </div>
</section>