<section class="section_3" id="section_3">
    <div class="school">
        <p>¡Prepáralos con tus marcas favoritas!</p>
        <h3>VUELTA AL COLE</h3>
    </div>
    <div class="info_photo">
        <figure class="circle_photo">
            <img src="/images/lpbts-mod05-img01-desk.png" alt="aquí hay una niña con una mochila">
            <span>Mochilas escolares</span>
        </figure>
       
        <figure class="circle_photo">
            <img src="/images/lpbts-mod05-img04-mob.png" alt="aquí hay un niño con un estuche">
            <span>Estuches</span>
        </figure>
       
        <figure class="circle_photo">
            <img src="/images/lpbts-mod05-img03-mob.png" alt="aquí hay una niña con una bolsa de deporte">
            <span>Bolsas de deporte</span>
        </figure>
       
</div>
    <div class="start_now">
        <a href="https://adalab.es/" target="_blank">Empezar ahora</a>
    </div>
</section>